html{
    background-color: rgb(240, 235, 248);
}

#a{
    text-align: center;
    background-color: whitesmoke;
    width: 500px;
    margin-left: 600px;
    
}
#ab{
    color: rgb(93, 93, 248);
}

#b{
    background-color: whitesmoke;
    height: 90px;
    width: 500px;
    margin-left: 600px;
    
}
#c{
    background-color: whitesmoke;
    height: 90px;
    width: 500px;
    margin-left: 600px;
}
#d{
    background-color: whitesmoke;
    height: 90px;
    width: 500px;
    margin-left: 600px;
}
#e{
    background-color: whitesmoke;
    height: 90px;
    width: 500px;
    margin-left: 600px;
}
#f{
    background-color: whitesmoke;
    height: 90px;
    width: 500px;
    margin-left: 600px;
}
#g{
    background-color: whitesmoke;
    height: 90px;
    width: 500px;
    margin-left: 600px;
}

#bbc{
    background-color: violet;
    color: white;
    margin-left: 600px;
}


